body{
    background-color: rgb(51, 90, 218);
    margin: 0;
    padding: 0;
}

header{
    color:white;
    text-align: center;
    width:30%;
    margin-top:1em;
    margin-bottom: 1em;
    margin-left: 30%;
}
header h1{
    font-size: 3em;
}
.row{
    display: grid;
    grid-template-columns: 33% 34% 33%;
    gap: 1.2em;
    width: 75%;
    margin-bottom: 4em;
    margin-left: 8em;
}
.Temperature{
    background-color: whitesmoke;
    padding: 0.5em;
    border-radius: 1.6em;
    width: 300px;
}
.Temperature h2{
    text-align: center;
    font-size: 1.2em;
}
.subTemp{
    position: relative;
    left: 6%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap:1em;
    width:250px;
    height: 50px;
    border-radius: 0.8em;
}
.superSubTemp{
    padding: 0;
}
.superSubTemp p{
    margin-bottom:0.1em ;
    margin-top: 0.1em;
}
input[type=number]{
    margin-top: 0.2em;
    width:80%;
    height: 1em;
    padding: 4px 8px;
    border: 1px solid rgb(51, 78, 110);
    border-radius: 6px;
    box-sizing: content-box;
}
input[type=number]:focus {
    border: 3px solid #07213f;
    outline: none;
  }
  #Ccontanier{
    width: 30%;
    background-color: #ffffff;
    margin: auto;
    padding: 2em;
    border-radius: 0.8em;
     }
      .main-body {
    width: 90%;
    
  }
  label {
    display: block;
    font-weight: 600;
  }
  input#amount {
    font-weight: 400;
    font-size: 1.2em;
    display: block;
    width: 100%;
    border-bottom: 2px solid #02002c;
    color: #7a789d;
    margin-bottom: 2em;
    padding: 0.5em;
  }
  input#amount:focus {
    color: #9873fe;
    border-color: #9873fe;
  }
  .dropdowns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }
  select {
    width: 100%;
    padding: 0.6em;
    font-size: 1em;
    border-radius: 0.2em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 15px top 50%, center;
    background-size: 20px 20px;
    background-color: rgb(51, 90, 218);
    color: #ffffff;
  }
  select option {
    background-color: #ffffff;
    color: #02002c;
  }
  button {
    font-size: 1em;
    width: 100%;
    background-color: rgb(51, 90, 218);
    padding: 1em 0;
    margin-top: 2em;
    border-radius: 0.3em;
    color: #ffffff;
    font-weight: 600;
  }
  #result {
    font-size: 1.2em;
    text-align: center;
    margin-top: 1em;
    color: #02002c;
    background-color: #e5dbff;
    padding: 0.8em 0;
  }
 
        .container{
            width: 60%;
            margin: 2em auto;
            padding: 1em 2em;
            border-radius: 1em;
            background-color: white;
        }
        .container h1{
            text-align: center;
            margin-bottom: 0.5em;
            font-size: 2.5em;
        }
        .container p{
            font-size: 1.2em;
            line-height: 1.2em;
        }
        .container ul{
            margin-top: 1em;
            font-size: 1.1em;
            line-height: 1.2em;
        }
        .container ul li{
            margin-bottom: 0.5em;
            list-style-type: square;
        }
        .container ul li::marker {
       color: blue; /* bullet color */}
        .content{
            margin: 0.5em auto;
            margin-top: 1.5em;
            width: 80%;
        }
        .content button{
            width: 100%;
            margin: 0.6em auto;
            padding: 1em;
            border-radius: 0.5em;
            border: none;
            background-color: rgb(51, 90, 218);
            color: white;
            cursor: pointer;
            font-size: 1em;
        }
        .content button:hover{
            background-color: rgb(30, 60, 140);
        }
  @media only screen and (max-width: 500px) {
    .row{
      display: grid;
      grid-template-columns: 100%;
      gap: 1.2em;
      width: 80%;
      margin: 2em auto;    
  }
  header{
    color:white;
    text-align: center;
    width:90%;
    margin: 1em auto;
}

#Ccontanier{
  width: 70%;
  padding: 2em;
  border-radius: 0.8em;
   }
   .container{
            width: 80%;
            padding: 1em ;
        }
  .container h1{
            
            font-size: 2em;
        }
        .container p{
            font-size: 1em;
            line-height: 1em;
        }
        .container ul{
            font-size: 0.9em;
            line-height: 1em;
        }
  }
